# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# 虛擬環境
venv/
env/
.env

# IDE
.vscode/
.idea/

# 操作系統
.DS_Store
Thumbs.db

# 其他
*.bak
*.swp
*.swo

# 虛擬環境
ordersystem_win_env/
ordersystemenv/